/* GLOBAL CSS */
.pageHeadline {
    margin: 30px 0px 30px 0px;
}

/* USER PAGE CSS */
.userButton {
  margin: 0px auto 10px auto;
  width: 50%;
  font-size: 20px;
}

/* ALBUM & PHOTO PAGE CSS */
#photos, #albums {
  margin-right: -15px;
}

.albumTile, .photoTile {
  float: left;
  width: 20%;
  padding-right: 15px;
  box-sizing: border-box;
  margin-bottom: 15px;
  cursor: pointer;
  opacity: 1;
  transition: .5s ease;
}

.albumTile:hover, .photoTile:hover {
  opacity: 0.3;
}

img {
  max-width: 100%;
  height: auto;
}

.back {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  bottom: 25px;
  left: 20px;
}

.glyphicon {
  display: block;
  font-size: 4em;
}
